<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="/static/CSS/reset--color.css">
    <link rel="stylesheet" href="/static/CSS/carrinho.css">
</head>
<body>
    <header>
        <div class="logo_img"><img src="/static/IMG/logos/logo.png" alt="Logo"></div>
        <nav>
            <ul>
                <li class="li__botao" href="/">HOME</li>
                <li class="li__botao" href="/produtos">PRODUTOS</li>
                <li class="li__botao" href="/login-cadastro"><a>LOGIN</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="campo_produto">
                <div class="img">
                    <img src="/static/IMG/PERFUMES/propaganda/Intenso.png" alt="">
                </div>
                <div class="conteudo">
                    <h2>Nome do PERFUME</h2>
                    <p>Descrição</p>
                    <p>R$130,00</p>
                    <button class="comprar">Comprar</button>
                    <button class="excluir">excluir</button>
                </div>
            </div>
            <hr>
            <div class="campo_produto">
                <div class="img">
                    <img src="/static/IMG/PERFUMES/propaganda/Intenso.png" alt="">
                </div>
                <div class="conteudo">
                    <h2>Nome do PERFUME</h2>
                    <p>Descrição</p>
                    <p>R$130,00</p>
                    <button class="comprar">Comprar</button>
                    <button class="excluir">excluir</button>
                </div>
            </div>
            <hr>
            <div class="campo_produto">
                <div class="img">
                    <img src="/static/IMG/PERFUMES/propaganda/Intenso.png" alt="">
                </div>
                <div class="conteudo">
                    <h2>Nome do PERFUME</h2>
                    <p>Descrição</p>
                    <p>R$130,00</p>
                    <button class="comprar">Comprar</button>
                    <button class="excluir">excluir</button>
                </div>
            </div>
            <hr>
            <button class="comprar">Comprar carrinho</button>
        </div>
    </main>
</body>
</html>
