<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="/static/CSS/reset--color.css">
    <link rel="stylesheet" href="/static/CSS/carrinho.css">
</head>
<body>
    <header>
        <div class="logo_img"><img src="/static/IMG/logos/logo.png" alt="Logo"></div>
        <nav>
            <ul>
                <li class="li__botao"><a href="/produtos">HOME</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Carrinho de Compras</h1>
            {% if itens_carrinho %}
                {% for item in itens_carrinho %}
                    <div class="campo_produto">
                        <div class="img">
                            <img src="{{ item[4] }}" alt="foto do produto">
                        </div>
                        <div class="conteudo">
                            <h2>{{ item[1] }}</h2>
                            <p>R${{ item[3] }}</p>
                            <form action="/remover-carrinho/{{ item[0] }}" method="post">
                                <button type="submit">Excluir</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <p>O seu carrinho está vazio.</p>
            {% endif %}
            <button class="comprar"><a href="/cep">Finalizar Compra</a></button>
        </div>
    </main>
</body>
</html>
