<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana`Flora</title>
    <link rel="stylesheet" href="/static/CSS/reset--color.css">
    <link rel="stylesheet" href="/static/CSS/frutas.css">
    <link rel="stylesheet" href="/static/CSS/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>

</head>
    <body>
        <header>
            <div class="logo_img"><img src="/static/IMG/logos/logo.png" alt="Logo"></div>
            <nav>
                <ul>
                    <li class="li__botao"><a href="/login-cadastro">LOGIN</a></li>
                </ul>
            </nav>
        </header>

        <div class="carousel">
            <div class="list">
                <div class="item active" style="--background: #b44275;">
                    <div class="content">floral </div>
                    <img src="/static/IMG/frutas/fruit_strawberry.png" class="fruit">
                </div>
                <div class="item" style="--background: #F5CCC3;">
                    <div class="content">adocicado</div>
                    <img src="/static/IMG/frutas/fruit_avocado.png" class="fruit">
                </div>
                <div class="item hidden" style="--background: #190200;">
                    <div class="content">Amaderado</div>
                    <img src="/static/IMG/frutas/fruit_orange.png" class="fruit">
                </div>
            </div>
            <div class="leaves"></div>
            <div class="mockup"></div>
            <div class="shadow"></div>
            <div class="arrow">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
        </div>
    <!-- ========================================================================== -->
    <section class="container-01">
        <div class="card1 imagem_lateral">
            <img src="https://t3.ftcdn.net/jpg/06/00/76/68/240_F_600766814_cSgD6LmFVU0TIauIP261OWWvOZFVROmW.jpg" alt="Perfume feminino">
            <span class="legenda"><a>PERFUMES FEMININOS</a></span>
        </div>

        <div class="card1 imagem_meio">
            <img src="https://t3.ftcdn.net/jpg/05/97/18/70/240_F_597187035_lmwvHXslsUlMkGQTqmBqxLIjv8OjSmta.jpg" alt="Propaganda">
            <span class="legenda"><a>Novidades</a></span>
        </div>

        <div class="card1 imagem_lateral">
            <img src="https://t3.ftcdn.net/jpg/06/80/50/20/240_F_680502019_l24Ft3tMDJ418tiikaaul380b9kDsPPe.jpg" alt="perfume masculino">
            <span class="legenda"><a>PERFUMES MASCULINOS</a></span>
        </div>
    </section>

    <section>
      <div class="novidades"><img src="/static/IMG/1.png" alt="Novidades"></div>

        <div class="container-2">
            <div class="card">
              <div class="card-image">
                <img src="/static/IMG/PERFUMES/propaganda/Aurora Primavera.png" alt="Perfume floral">
                <span class="discount-badge">-16%</span>
                <span class="new-badge">Lançamento</span>
              </div>
              <div class="card-content">
                <h3>Aurora 100ml</h3>
                <br>
                <div class="price-wrapper">
                  <div class="old-price">R$ 174,00</div>
                  <div class="new-price">R$ 150,00</div>
                </div>
                <div class="installment-options">
                  <span>2 x de R$ 75,00</span>
                </div>
                <br>
              </div>
            </div>

            <div class="card">
                <div class="card-image">
                  <img src="/static/IMG/PERFUMES/propaganda/Brisa.png" alt="Perfume floral">
                  <span class="discount-badge">-16%</span>
                  <span class="new-badge">Lançamento</span>
                </div>
                <div class="card-content">
                  <h3>Brisa 100ml</h3>
                  <br>
                  <div class="price-wrapper">
                    <div class="old-price">R$ R$150.80</div>
                    <div class="new-price">R$ R$130,00</div>
                  </div>
                  <div class="installment-options">
                    <span>2 x de R$ 65,00</span>
                  </div>
                  <br>
                </div>
              </div>
              
              <div class="card">
                <div class="card-image">
                  <img src="/static/IMG/PERFUMES/propaganda/Floresta.png" alt="Perfume floral">
                  <span class="discount-badge">-16%</span>
                  <span class="new-badge">Lançamento</span>
                </div>
                <div class="card-content">
                  <h3>Flor-green 100ml</h3>
                  <br>
                  <div class="price-wrapper">
                    <div class="old-price">R$ R$150.80</div>
                    <div class="new-price">R$ R$130,00</div>
                  </div>
                  <div class="installment-options">
                    <span>2 x de R$ 65,00</span>
                  </div>
                  <br>
                </div>
              </div>

              <div class="card">
                <div class="card-image">
                  <img src="/static/IMG/PERFUMES/propaganda/Sonhos.png" alt="Perfume floral">
                  <span class="new-badge">Lançamento</span>
                </div>
                <div class="card-content">
                  <h3>Sonhos 150ml</h3>
                  <br>
                  <div class="price-wrapper">
                    <div class="new-price">R$160,00</div>
                  </div>
                  <div class="installment-options">
                    <span>2 x de R$ 65,00</span>
                  </div>
                  <br>
                </div>
              </div>

              <div class="card">
                <div class="card-image">
                  <img src="/static/IMG/PERFUMES/propaganda/Paixão.png" alt="Perfume floral">
                  <span class="new-badge">Lançamento</span>
                </div>
                <div class="card-content">
                  <h3>Paixão 150ml</h3>
                  <br>
                  <div class="price-wrapper">
                    <div class="new-price">R$190,00</div>
                  </div>
                  <div class="installment-options">
                    <span>2 x de R$ 65,00</span>
                  </div>
                  <br>
                </div>
              </div>

              <div class="card">
                <div class="card-image">
                  <img src="/static/IMG/PERFUMES/propaganda/Liberdade.png" alt="Perfume floral">
                  <span class="new-badge">Lançamento</span>
                </div>
                <div class="card-content">
                  <h3>Liberdade 150ml</h3>
                  <br>
                  <div class="price-wrapper">
                    <div class="new-price">R$140,00</div>
                  </div>
                  <div class="installment-options">
                    <span>2 x de R$ 65,00</span>
                  </div>
                  <br>
                </div>
              </div>
          </div>    
    </section>

    <section class="container-04" >
      <div class="imagem-fundo"></div>
      <div class="texto-frente">
        <h2>Conheça a  AnasFlora</h2>
        <p>Sua loja online de perfumes importados!</p>
        <p>Encontre o perfume perfeito para você com nossa grande variedade de marcas e fragrâncias.</p>
        <a href="/login-cadastro" class="botao-cadastro">Faça seu cadastro agora!</a>

      </div>
    </section>


        <script src="/static/JS/frutas.js"></script>
    </body>
</html>