<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/reset--color.css">
    <link rel="stylesheet" href="/static/CSS/produto_escolhido.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Produto-lover</title>
</head>
<body>
    <header>
        <div class="logo_img"><img src="/static/IMG/logos/logo.png" alt="Logo"></div>
        <nav>
            <ul>
                <li class="li__botao" ><a href="/produtos">Voltar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="lado_esquerdo">
            <img src="/static/IMG/PERFUMES/propaganda/Alegria.png" alt="">
        </div>
        <div class="lado_direito">
            <div class="campo">
                <h1>NOME DO PERFUME</h1>
                <p>CATEGORIA DO PERFUME</p>
            </div>
            <div class="campo descricao">
                <hr>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non modi ad omnis velit in et eveniet. Voluptate ratione ipsam minima perferendis praesentium quis provident necessitatibus laudantium similique. Ratione, blanditiis vero?</p>
                <hr>
            </div>
            <div class="campo">
                <h5>Comente:</h5>
                <form action="#">
                    <div class="caixa-comentario">
                        <label for="comentario">Deixe seu comentário:</label>
                        <input type="text" id="comentario" name="comentario" placeholder="Digite seu comentário aqui">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
        
                <div class="espaco-comentarios">
                    <h3>Comentários Recentes</h3>
                    <ul>
                        </ul>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/JS/produto_escolhido.js"></script>
</body>
</html>