<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Scripts Bootstrap (opcional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-2zQKkku8QzgY+aC+eG5WADwGwjXHMaCJe/3WzakxJ8YghP4Ll5XW/km3fcQyFO6l" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/CSS/reset--color.css">
    <link rel="stylesheet" href="/static/CSS/produtos.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>ANAS`LOVERS</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <a href="/produtos">HOME</a>
                <a href="/carrinho">Sacola</a>
                <a href="#conteudo">produtos</a>
            </nav>
        </header>
    
        <!-- carousel -->
        <div class="carousel">
            <!-- list item -->
            <div class="list">
                <div class="item">
                    <img src="https://images.pexels.com/photos/965731/pexels-photo-965731.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <div class="content">
                        <div class="author">Sua linha</div>
                        <div class="title">Mais que</div>
                        <div class="topic">Floral</div>
                        <div class="des">
                            
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://images.pexels.com/photos/11414597/pexels-photo-11414597.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <div class="content">
                        <div class="author">ANAS`LOVERS</div>
                        <div class="title">EM TODOS OS SEUS </div>
                        <div class="topic">MOMENTOS</div>
                        <div class="des">
                            
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://images.pexels.com/photos/258244/pexels-photo-258244.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <div class="content">
                        <div class="author">Sempre para </div>
                        <div class="title">todos os seus</div>
                        <div class="topic">Momentos</div>
                        <div class="des">
                            
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://images.pexels.com/photos/724646/pexels-photo-724646.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <div class="content">
                        <div class="author">mini`LOVERS</div>
                        <div class="title">Para todas as</div>
                        <div class="topic">Idades</div>
                        <div class="des">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- list thumnail -->
            <div class="thumbnail">
                <div class="item">
                    <img src="https://images.pexels.com/photos/965731/pexels-photo-965731.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <div class="content">
                        <div class="title">
                            Sua linha
                        </div>
                        <div class="description">
                            mais doce
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://images.pexels.com/photos/11414597/pexels-photo-11414597.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <div class="content">
                        <div class="title">
                            Name Slider
                        </div>
                        <div class="description">
                            Description
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://images.pexels.com/photos/258244/pexels-photo-258244.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <div class="content">
                        <div class="title">
                            todos os momentos
                        </div>
                        <div class="description">
                            sempre presente
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://images.pexels.com/photos/724646/pexels-photo-724646.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <div class="content">
                        <div class="title">
                            Para todas
                        </div>
                        <div class="description">
                           As idades
                        </div>
                    </div>
                </div>
            </div>
            <!-- next prev -->
    
            <div class="arrows">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
            <!-- time running -->
            <div class="time"></div>
        </div>
    
<!-- ======================================= -->

        <section class="container-02">
            <div class="card1 imagem_lateral">
                <a href="#perfume_feminino">
                <img src="https://t3.ftcdn.net/jpg/06/00/76/68/240_F_600766814_cSgD6LmFVU0TIauIP261OWWvOZFVROmW.jpg" alt="Perfume feminino">
                </a>
                <span   class="legenda"><a>PERFUMES FEMININOS</a></span>
                </div>
                
            <div class="card1 imagem_meio">
                
                <img  href="#perfume_infantil" src="/static/IMG/perume infanti.png" alt="Propaganda">
                <span class="legenda"><a>PERFUMES INFANTIS</a></span>
                
            </div>
    
            <div class="card1 imagem_lateral" id="conteudo">
                <a href="#perfume_masculino">
                <img href="#perfume_masculinos" src="https://t3.ftcdn.net/jpg/06/80/50/20/240_F_680502019_l24Ft3tMDJ418tiikaaul380b9kDsPPe.jpg" alt="perfume masculino"></a>
                <span class="legenda"><a>PERFUMES MASCULINOS</a></span>
                
            </div>
        </section>

        <section class="container-03" id="perfume_feminino">
            <div class="imagem-fundo"></div>
            <div class="texto-frente">
              <h1>PERFUMES FEMININOS</h1>
            </div>
        </section>


        <section class="card_perfumes_contaiener">
          <!-- Início do loop para cada produto feminino -->
          {% for produto in prdts_feminino %}
          <div class="card">
              <div class="card-image">
                <img src="{{ produto[4] }}" alt="{{ produto[5] }}">

              </div>
              <div class="card-content">
                  <h3>{{ produto[1] }}</h3>
                  <br>
                  <div class="price-wrapper">
                      <div class="new-price">R$ {{ produto[7] }}</div>
                  </div>
                  <br>
                  <form action="/adicionar-carrinho" method="post">
                    <input type="hidden" name="codigo_produto" value="{{ produto[0] }}">
                    <button type="submit" class="add-to-cart-button btncomprar">Comprar</button>
                </form>
                
                  <button class="add-to-cart-button btnmais"><a  href="/produto-escolhido/{{ produto[0] }}">Mais</a></button>
                  <a href=""></a>
              </div>
          </div>
          {% endfor %}
          <!-- Fim do loop -->
      </section>
      

      <section class="container-05" id="perfume_masculino">
        <div class="imagemfundo-05 "></div>
        <div class="texto-frente">
          <h1>PERFUMES Masculinos</h1>
        </div>
    </section>


    <section class="card_perfumes_contaiener">
      <!-- Início do loop para cada produto feminino -->
      {% for produto in prdts_masculino %}
      <div class="card">
          <div class="card-image">
            <img src="{{ produto[4] }}" alt="{{ produto[5] }}">

          </div>
          <div class="card-content">
              <h3>{{ produto[1] }}</h3>
              <br>
              <div class="price-wrapper">
                  <div class="new-price">R$ {{ produto[7] }}</div>
              </div>
              <br>
              <form action="/adicionar-carrinho" method="post">
                <input type="hidden" name="codigo_produto" value="{{ produto[0] }}">
                <button type="submit" class="add-to-cart-button btncomprar">Comprar</button>
            </form>
              <button class="add-to-cart-button btnmais"><a  href="/produto-escolhido/{{ produto[0] }}">Mais</a></button>
              <a href=""></a>
          </div>
      </div>
      {% endfor %}
      <!-- Fim do loop -->
  </section>          



               <!-- Inicio cards masculinos  -->
        <section class="container-06" id="perfume_masculino">
          <div class="imagem-fundo-06"></div>
          <div class="texto-frente">
            <h1>PERFUMES INFANTO-JUVENIL</h1>
          </div>
      </section>

      <section class="card_perfumes_contaiener">
        <!-- Início do loop para cada produto feminino -->
        {% for produto in prdts_infantil %}
        <div class="card">
            <div class="card-image">
              <img src="{{ produto[4] }}" alt="{{ produto[5] }}">
  
            </div>
            <div class="card-content">
                <h3>{{ produto[1] }}</h3>
                <br>
                <div class="price-wrapper">
                    <div class="new-price">R$ {{ produto[7] }}</div>
                </div>
                <br>
                <form action="/adicionar-carrinho" method="post">
                    <input type="hidden" name="codigo_produto" value="{{ produto[0] }}">
                    <button type="submit" class="add-to-cart-button btncomprar">Comprar</button>
                </form>
                <button class="add-to-cart-button btnmais"><a  href="/produto-escolhido/{{ produto[0] }}">Mais</a></button>
                <a href=""></a>
            </div>
        </div>
        {% endfor %}
        <!-- Fim do loop -->
    </section>          

        
          
    </main>
    <script src="/static/JS/produtos.js"></script>
</body>
</html>