<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/reset--color.css">
    <link rel="stylesheet" href="/static/CSS/produto_escolhido.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Produto-lover</title>
</head>
<body>
    <header>
        <div class="logo_img"><img href="/produtos" src="/static/IMG/logos/logo.png" alt="Logo"></div>
        <nav>
            <ul>
                <li class="li__botao" ><a href="/produtos">Voltar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="lado_esquerdo">
            <div class="perfume-info">
                <h1>{{ perfume_escolhidoID[1] }}</h1>
                    <p>{{ perfume_escolhidoID[5] }}</p>
            </div>
            <img src="{{ perfume_escolhidoID[4] }}" alt="">
        </div>
        <div class="lado_direito">
            <div class="campo descricao">
                <hr>
                <p>{{ perfume_escolhidoID[2] }}</p>
                <hr>
            </div>
            <div class="campo comentario">
                <h2>Comente:</h2>
                <form action="/cadastro-comentario/{{ perfume_escolhidoID[0] }}" method="POST">
                    <div class="caixa-comentario">
                        <label for="comentario">Deixe seu comentário:</label>
                        <textarea id="comentario" name="comentario" placeholder="Digite seu comentário aqui"></textarea>
                        <button  class="comprar" type="submit">Enviar</button>
                    </div>
                </form>
                
                <div class="espaco-comentarios">
                    <h3>Comentários Recentes</h3>
                    <hr> <!-- Linha horizontal -->
                    <ol>
                        {% for comentario in comentarios %}
                        <li class="comentario-container">
                            <span class="comentario-nome">{{ comentario[2] }}:</span>
                            <p class="comentario-texto">{{ comentario[0] }}</p>
                            <span class="comentario-horario">{{ comentario[1] }}</span>
                        </li>
                        <hr>
                        {% endfor %}
                    </ol>
                </div>
                
                
                
            </div>
        </div>
    </main>
    <script src="/static/JS/produto_escolhido.js"></script>
</body>
</html>